CONFIG_ESP_TASK_WDT=n
CONFIG_ESP32_ULP_COPROC_ENABLED=y
CONFIG_ESP32_ULP_COPROC_RESERVE_MEM=256
CONFIG_FREERTOS_SUPPORT_STATIC_ALLOCATION=y
CONFIG_ESPTOOLPY_FLASHMODE_DOUT=y
CONFIG_FREERTOS_UNICORE=y
